.profile {
width: 360px;
height: 400px;
padding: 20px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
border: 1px solid #808080;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.description {

}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 116px;
    border: 1px solid #808080;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 60px;
    padding: 3px;
}

.name {
text-align: center;

font-weight: 600;
font-size: 26px;
margin-bottom: 10px;
}

.tag {
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    color: gray;
}

.location {
    text-align: center;
    margin-top: 0;
    color: gray;
}

.stats {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #808080;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0;
    text-align: center;
}

ul.stats li {
    flex-basis: 30%;
    border-right: 0.5px solid #938888;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 222, 222);
}

ul.stats li:last-child {
    border-right: none;
}

.label {
    color: gray;
    font-size: 16px;
    padding: 5px;
}

.quantity {
font-size: 18px;
font-weight: bold;

}